/*
font-family: 'Merriweather', serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Sacramento', cursive;
*/

body {
  margin: 0;
  text-align: center;
  font-family: "Merriweather", serif;
}

div {
  background-color: #adc4ce;
}

h1 {
  margin-top: 0;
  font-family: "Sacramento", cursive;
  font-size: 50px;
}

h2 {
  font-family: "Montserrat", sans-serif;
}

h3 {
  font-family: "Montserrat", sans-serif;
}
.topContainer {
  position: relative;
  padding-top: 100px;
  background-color: #96b6c5;
}

.middleContainer {
}

.bottomContainer {
}

.bottomCloud {
  position: absolute;
  left: 300px;
  bottom: 300px;
}

.topCloud {
  position: absolute;
  right: 400px;
  top: 50px;
}
