body {
  background-color: #c3e0e4;
}
hr {
  border-top: dotted;
  border-bottom: none;
  border-left: none;
  border-right: none;
  border-color: gray;
  border-width: 5px;
  width: 5%;
}

h1 {
  color: #04d1a1;
}

h3 {
  color: #425350;
}
